@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-gray-1: #F6F6F6;
    --color-gray-2: #E8E8E8;
    --color-gray-3: #BDBDBD;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

.input-field {
    @apply border border-[var(--color-gray-2)] bg-[var(--color-gray-1)] px-3 py-3 outline-0 rounded-md;
}